<div class="header">
    <h2>My private profile</h2>
    <br>
    <h3>Add a Task to the planner</h3>
</div>

<div class="planner">
    <form method="POST" action="/planner"> 
        <div class="mb-3">
            <label for="task" class="form-label">Task</label>
            <input type="text" class="form-control" name='task'>
        </div>
         <div class="mb-3">
          <label for="taskDescription" class="form-label">Task Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="taskDescription"></textarea>
        </div>
        <div class="mb-3">
            <label for="taskDate" class="form-label">Choose a date to complete the Task</label>
            <input type="date" class="form-control" name='taskDate'>
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
</div>